* {
margin : 250;
padding : 60;
}

html {
font-size : 60;
}

body {
font-family : Helvetica, Arial, sans-serif;
color :#196F3D; /*verde*/
text-align: right;
background-image: url(https://s-media-cache-ak0.pinimg.com/736x/66/a4/cc/66a4ccd188a5e3518845666d23a060f0.jpg);
background-size: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #454545;
  align: center; /*título en la tipografía más grande y en gris oscuro*/
  background-image:url(images/form_bg.jpg);
	background-color: #FFFFFF;
  border:16px solid #d1c7ac;
	transform: translate(120%, 0%);
  width: 230px;
  
 	color:#333333;
	padding:20px;
	margin-right:4px;
	margin-bottom:8px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin : 20;
  text-align: center; /*texto más pequeño en color y tipo default*/
  background-color: transparent;
}

#zen-summary{
  font-family:'Pacifico', serif;
  color: #454545;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

h3, h4, h5, h6 {
  font-family: 'Pacifico', sans-serif;
  color: #454545;
  font-size: 30px;
  font-weight: 500;
  margin : 40;
}

.preamble,.explanation,.participation,
.benefits,.requirements,.sidebar {
    padding: 15px;
    margin: 60px;
    background-color:#ffd27f;
  opacity: 0.8;
    line-height: 20px;
}

#design-selection h3{
	font-size: 18px;
	color: #4d77fe;
	margin-top: 50px;
   text-align: left;
}

#design-selection li{
	font-size: 14px;
	color: #4d77fe;
	margin-top: 10px;
  text-align: left;
	line-height: 75%;
}

#design-archives h3{
	font-size: 20px;
	color:#4d77fe;
	margin-top: 20px;
   text-align: left;
}

#design-archives li{
	font-size: 14px;
	color: #4d77fe;
	margin-top: 10px;
	 text-align: left;
	line-height: 75%;
}

#zen-resources h3{
	font-size: 20px;
	color: #4d77fe;
	margin-top: 20px;
  text-align: left;
}

#zen-resources li{
	font-size: 14px;
	color: #4d77fe;
	margin-top: 10px;
	text-align: left;
	line-height: 75%;
}

footer{
  padding: 30px;
}